.navbar {
    padding: 12px;
}
.image {
    width: 430px;
    height: auto;
    margin: auto;
}
.hidden {
    display: none;
}
::-webkit-scrollbar {
    width: 7px;
    background: rgba(239, 233, 233, 0.987);
  }
  ::-webkit-scrollbar-thumb {
    background: #1fe3c5;
    border-radius: 5px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #1e4943;
  }
#create-operation{
    height: 100%;
}
@media (max-width: 550px){
.image{
  width: 100%;
}
}